* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
   }
   
   body {
     font-family: "PP Neue Montreal";
     overflow-x: hidden;
     cursor: none;
   }
   
   .main-body{
     position: relative;
     width: 100%;
     height: 100vh;
     top: 0px;
   }
   
   .slide-active img {
     width: 100%;
     height: 100%;
     object-fit: cover;
   }
   
   .slide-next img {
     width: 100%;
     height: 100%;
     object-fit: cover;
   }
   
   .copy p{
     text-decoration: none;
     color: #fff;
     font-size: 24px;
     font-weight: 900;
   }
   
   .copy {
     position: absolute;
     top: 45%;
     transform: translateY(-50%);
     width: 100vw;
     padding: 2em;
     display: flex;
     justify-content: space-between;
     align-items: center;
     z-index: 2;
   }
  
   
   .slider {
     position: absolute;
     top: 0;
     left: 0;
     width: 100vw;
     height: 100vh;
     overflow: hidden;
   }
   
   .slide-active {
     position: absolute;
     width: 100%;
     height: 100%;
   }
   
   .slide-next {
     position: absolute;
     width: 100%;
     height: 100%;
     display: flex;
     justify-content:start;
     align-items: flex-end;
   }
   
   .slide-next .slide-next-img {
     width: 0px;
     height: 0px;
     clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
   }
   
   .slider-content {
     position: absolute;
     left: 2em;
     bottom: 0em;
     width: 100%;
     height: 175px;
     clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
     overflow: hidden;
   }
   
   .slider-content-active {
     position: absolute;
     top: 0;
     left: 0;
     clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
   }
   
   .slider-content-next {
     position: absolute;
     top: 200px;
     left: 0;
     clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
   }
   
   .slider-content-active  h1 {
     text-transform: uppercase;
     font-family: "Timmons NY 2.005";
     font-size: 100px;
     font-weight: lighter;
     color: #003181;
   }
   
   .slider-content-active  h1 span {
     position: relative;
   }
   
   .slider-content-next  h1 {
     text-transform: uppercase;
     font-family: "Timmons NY 2.005";
     font-size: 150px;
     font-weight: lighter;
     color: #003181;
   }
   
   .slider-content-next  h1 span {
     position: relative;
   }
   


   /* Increament counter */

   .increament{
    width: 90%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #222535;
    color: white;
    border-radius: 10px;
   }
   .counter-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px 50px;
}


.counter-container .countericons{
  width: 50px !important;
  height: 50px !important;
}

.counter{
    font-size: 70px;
    margin-top: 10px;
}

.counterspan{
  font-size: 25px;
  font-weight: 600;
  color: #ffffff;
}



/* logoslider */
.heading{
  text-align: center;
  color: #172647;
}
.scroller {
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  /* border: 2px solid red; */
  max-width: 95%;
  height: 35vh !important;
}

.scroller__inner {
  display: flex;
  flex-wrap: wrap;
  gap: 3vw;
  padding-top: 20px;
}

.scroller__inner img{
  width: 100px;
  height: 100px;
}

.scroller[data-animated="true"] {
  overflow: hidden;
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 25s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}



.aboutcompanyindex{
  width: 100%;
  display: flex;
  justify-content: center;
}

.aboutcompanyindexinner{
  /* background-color: #e1e1e1; */
  width: 90%;
  display: flex;
  flex-direction: row;
  gap: 5%;
  border-radius: 20px;
  padding: 50px;
}

.aboutcompanyindeximagediv{
  border-radius: 20px;
  overflow: hidden;
  width: 40%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.aboutcompanyindeximagediv img{
  width: 100%;
  height: 100%;
}

.aboutcompanyindextextcont{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* align-items: center; */
}

.aboutcompanyindexheading h1{
  font-size: 30px;
}

.aboutcompanyindexpara p{
  font-size: 20px;
  margin-bottom: 20px;
  text-align: justify;
}

.typesmachine{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0px 100px 0px;
}

.typesmachineinner{
  width: 90%;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.typesimagediv{
  display: flex;
  gap: 20px;
  flex-direction: row;
}

.typesimagediv div{
  width: 100%;
  border-radius: 10px;
  padding: 20px;
  background-color: #028BC4;
  color: #fff;
}

.typesmachineheading{
  text-align: center;  
  color: #172647;
  margin-bottom: 50px;
  font-size: 50px;
}

.headp{
  font-size: 25px;
}

.textp{
  font-size: 18px;
  font-family: "Gilroy";
  line-height: 35px;
  text-align: justify;
}

#whychooseus{
  width: 100%;
  /* height: 400px; */
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #028BC4;
  color: white;
  padding: 50px;
}

.whychooseusinner{
  width: 90%;
  display: flex;
  flex-direction: row;
  text-align: justify;
  gap: 20px;
}

.whychooseusinner div{
  width: 90%;
}

.whychooseuscard{
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 30px 20px;
}

.whychoosehead{
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.whychooseustext{
  font-size: 17px;
}

.headingwhite{
  color: #fff;
  margin: auto;
  font-size: 50px;
  margin-bottom: 50px;
}